In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import statistics
import itertools

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from scipy.special import comb

In [3]:
df = pd.read_csv('homes.csv')

In [4]:
df['age'] = 2001 - df.year
df1 = df.drop(columns = ['year'])

# Question1

In [5]:
bed = df1.beds
Y = df.price
X = bed.to_numpy()
X = pd.DataFrame(X)
X0 = X.values.reshape(-1,1)
X0.shape

(522, 1)

In [6]:
m1 = LinearRegression().fit(X0,Y)
m1.fit(X0,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
# intercept and slope

In [8]:
m1.intercept_

82808.79961261936

In [9]:
m1.coef_

array([56200.08366568])

In [10]:
# Price increase by 56200.08366 dollars for each additional bedroom

# Question2

In [11]:
list1 = ['lotsize','area','beds','baths','age','garage']
x0 = df1[list1]
#x0.info()
#x0.shape

In [12]:
xz = x0.to_numpy()
x1 = sm.add_constant(xz)

In [13]:
m2 = sm.OLS(Y,x1).fit()
m2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.748
Method:                 Least Squares   F-statistic:                     259.4
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          4.21e-152
Time:                        11:00:14   Log-Likelihood:                -6554.5
No. Observations:                 522   AIC:                         1.312e+04
Df Residuals:                     515   BIC:                         1.315e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6707.5382   1.88e+04     -0.356      0.722   -4.37e+04    3.03e+04
x1             1.5550      0.272      5.717      0.000       1.021       2.089
x2           125.7386      6.963     18.057      0.000     112.059     139.419
x3         -1.304e+04   3780.397     -3.450      0.001   -2.05e+04   -5614.498
x4          7987.5518   4818.957      1.658      0.098   -1479.680    1.75e+04
x5         -1779.6108    215.487     -8.259      0.000   -2202.953   -1356.268
x6          2.253e+04   5814.344      3.875      0.000    1.11e+04     3.4e+04
==============================================================================
Omnibus:                      124.114   Durbin-Watson:                   1.327
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              384.582
Skew:                           1.110   Prob(JB):                     3.08e-84
Kurtosis:                       6.571   Cond. No.                     1.71e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [14]:
# a)

In [15]:
m2.params

const    -6707.538167
x1           1.554990
x2         125.738603
x3      -13041.394214
x4        7987.551827
x5       -1779.610838
x6       22530.379289
dtype: float64

In [16]:
# This is the the estimated regression coefficients (include 99% confidence interval)
m2.conf_int(alpha = 0.01)

                  0             1
const -55431.280841  42016.204508
x1         0.851721      2.258260
x2       107.735683    143.741523
x3    -22815.268707  -3267.519722
x4     -4471.425313  20446.528968
x5     -2336.734049  -1222.487627
x6      7497.919937  37562.838640

In [17]:
# b)

In [18]:
x_b = pd.DataFrame([[1,24500,2650,3,3,11,2]], columns = ['constant','lotsize', 'area', 'beds', 'baths', 'age', 'garage'])
#data_b = {'lotsize':[2], 'area':[24500], 'beds':[3], 'baths':[3], 'age':[11], 'garage':[2]}
#x_b = pd.DataFrame(data_b)
#x_b = x_b.to_numpy()
x_b

   constant  lotsize  area  beds  baths  age  garage
0         1    24500  2650     3      3   11       2

In [19]:
#x_b = sm.add_constant(x_b, has_constant = 'constant')
m_b = m2.get_prediction(x_b)
m_b.summary_frame(alpha = 0.05)

# The 95% confidence interval is (362128.426893, 387712.63831)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,374920.532647,6511.365875,362128.426983,387712.63831,238431.17994,511409.885353

In [20]:
# c)

In [21]:
list1.insert(0,'constant')

In [22]:
lotsize_m = statistics.median(df1.lotsize)
area_m = statistics.median(df1.area)
beds_m = statistics.median(df1.beds)
baths_m = statistics.median(df1.baths)
age_m = statistics.median(df1.age)
garage_m = statistics.median(df1['garage'])
list_value = [1, lotsize_m, area_m, beds_m, baths_m, age_m, garage_m]
input_x = pd.DataFrame([list_value], columns = list1)
input_x

   constant  lotsize    area  beds  baths   age  garage
0         1  22200.0  2061.0   3.0    3.0  35.0     2.0

In [23]:
d2 = m2.get_prediction(input_x)

In [24]:
d2.summary_frame()
# with 95% confidence interval

# The price is 254573.357919 for the prediction.

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,254573.357919,4595.921615,245544.29765,263602.418187,118385.144904,390761.570933

# Question3

In [25]:
list2 = ['price','lotsize','area','beds','baths','age','garage']
xz = df1[list2]

In [26]:
xz.corr()

            price   lotsize      area      beds     baths       age    garage
price    1.000000  0.224169  0.819470  0.413324  0.683685 -0.555516  0.577786
lotsize  0.224169  1.000000  0.157525  0.126538  0.147007  0.100452  0.152219
area     0.819470  0.157525  1.000000  0.557838  0.755273 -0.441197  0.533766
beds     0.413324  0.126538  0.557838  1.000000  0.583447 -0.268692  0.316814
baths    0.683685  0.147007  0.755273  0.583447  1.000000 -0.512841  0.489898
age     -0.555516  0.100452 -0.441197 -0.268692 -0.512841  1.000000 -0.461760
garage   0.577786  0.152219  0.533766  0.316814  0.489898 -0.461760  1.000000

In [27]:
# The best predictor is area, the worst predictor is lotsize

# Question 4

In [28]:
col_names = x0.columns

In [29]:
p = len(col_names)
p

6

In [30]:
itertools.combinations(col_names,2)
a = list(itertools.combinations(col_names,2))

In [31]:
m3 = LinearRegression().fit(x0, Y)
MSE = mean_squared_error(Y, m3.predict(x0))
SSE = MSE * len(Y)
R_squared = m3.score(x0,Y)

In [32]:
list(range(1, p+1))

[1, 2, 3, 4, 5, 6]

In [33]:
# function returns SSE, R-squared

In [34]:
def get_sse(input, output):
    model_k = LinearRegression().fit(input, output)
    SSE = mean_squared_error(output, model_k.predict(input))*len(output)
    R_squared = model_k.score(input, output)
    return SSE, R_squared
SSE, R_squared = get_sse(x0, Y)

In [35]:
SSE_list, R2_list, feature_list, num_features = [], [], [], []
get_sse(x0[list(a[1])], Y)

(7920249651757.256, 0.2008556085544264)

In [36]:
for i in range(1, p+1):
    for subset in itertools.combinations(x0.columns, i):
        temp = get_sse(x0[list(subset)], Y)
        SSE_list.append(temp[0])
        R2_list.append(temp[1])
        feature_list.append(subset)
        num_features.append(len(subset))

In [37]:
# Create dataframe with 4 cols

In [38]:
df3 = pd.DataFrame(num_features, columns = ['n_features'])
df3['features'] = feature_list
df3['R-squared'] = R2_list
SSE_list2 = np.round(SSE_list, 0)
df3['SSE'] = SSE_list2
df3.shape

(63, 4)

In [39]:
df3['R-squared'].max()

0.7513894013091613

In [40]:
df3.max()

n_features                    6
features      (lotsize, garage)
R-squared              0.751389
SSE                 9.41287e+12
dtype: object

In [41]:
df3[-1:]

,n_features,features,R-squared,SSE
62,6,"(lotsize, area, beds, baths, age, garage)",0.751389,2.463958e+12

In [42]:
df3[['R-squared']].idxmax()

R-squared    62
dtype: int64

In [43]:
# group by n_features

In [44]:
best_r2 = df3.groupby(['n_features'])['R-squared'].max()
worst_r2 = df3.groupby(['n_features'])['R-squared'].min()

In [45]:
# dataframe with best single predictors
best_p1 = df3[df3['R-squared'] == best_r2[1]]
best_p1

# This is the best predictor.

   n_features features  R-squared           SSE
1           1  (area,)   0.671531  3.255426e+12

In [46]:
# dataframe with best two predictors
best_p2 = df3[df3['R-squared'] == best_r2[2]]
best_p2

    n_features     features  R-squared           SSE
13           2  (area, age)   0.718249  2.792410e+12

In [47]:
# dataframe with best three predictors
best_p3 = df3[df3['R-squared'] == best_r2[3]]
best_p3

    n_features              features  R-squared           SSE
23           3  (lotsize, area, age)   0.737944  2.597213e+12

In [48]:
# dataframe with best four predictors
best_p4 = df3[df3['R-squared'] == best_r2[4]]
best_p4

    n_features                      features  R-squared           SSE
46           4  (lotsize, area, age, garage)   0.745438  2.522941e+12

In [49]:
# dataframe with best five predictors
best_p5 = df3[df3['R-squared'] == best_r2[5]]
best_p5

    n_features                            features  R-squared           SSE
58           5  (lotsize, area, beds, age, garage)   0.750063  2.477102e+12

In [50]:
# dataframe with best six predictors
best_p6 = df3[df3['R-squared'] == best_r2[6]]
best_p6

# As you can see, the baths is the last variable enter the model, 
# we can know bath is the worst predictors.
# The best predictor is area.

,n_features,features,R-squared,SSE
62,6,"(lotsize, area, beds, baths, age, garage)",0.751389,2.463958e+12

# Question5

In [51]:
# add AIC, adj R-squared columns

In [52]:
n = 522
df3['AIC'] = n * np.log(df3['SSE']/n) + 2*df3['n_features']
df3['adj_R-squared'] = 1 - ((1 - df3['R-squared'])*(n-1)/(n-df3['n_features'] - 1))

In [53]:
# AIC best model
df3[df3.AIC == df3.AIC.min()]

,n_features,features,R-squared,SSE,AIC,adj_R-squared
62,6,"(lotsize, area, beds, baths, age, garage)",0.751389,2.463958e+12,11639.613904,0.748493

In [54]:
list_A = ['lotsize', 'area', 'beds', 'baths', 'age', 'garage']
df_new = df[list_A]

In [55]:
x_new = df_new
x_new = x_new.to_numpy()
x_new = sm.add_constant(x_new)
m4 = sm.OLS(Y, x_new).fit()
m4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.748
Method:                 Least Squares   F-statistic:                     259.4
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          4.21e-152
Time:                        11:00:43   Log-Likelihood:                -6554.5
No. Observations:                 522   AIC:                         1.312e+04
Df Residuals:                     515   BIC:                         1.315e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6707.5382   1.88e+04     -0.356      0.722   -4.37e+04    3.03e+04
x1             1.5550      0.272      5.717      0.000       1.021       2.089
x2           125.7386      6.963     18.057      0.000     112.059     139.419
x3         -1.304e+04   3780.397     -3.450      0.001   -2.05e+04   -5614.498
x4          7987.5518   4818.957      1.658      0.098   -1479.680    1.75e+04
x5         -1779.6108    215.487     -8.259      0.000   -2202.953   -1356.268
x6          2.253e+04   5814.344      3.875      0.000    1.11e+04     3.4e+04
==============================================================================
Omnibus:                      124.114   Durbin-Watson:                   1.327
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              384.582
Skew:                           1.110   Prob(JB):                     3.08e-84
Kurtosis:                       6.571   Cond. No.                     1.71e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [56]:
m4.params

const    -6707.538167
x1           1.554990
x2         125.738603
x3      -13041.394214
x4        7987.551827
x5       -1779.610838
x6       22530.379289
dtype: float64

In [57]:
# fitted equations:
# yhat = -6707.54 + 1.56 lotsize + 125.74 area - 13041.39 beds + 7987.55 baths - 1779.61 ages
#        + 22530.38 garage

# Question6

In [58]:
list_6 = ['lotsize', 'quality']
df6_1 = df1[list_6]
df6 = pd.get_dummies(df6_1, columns = ['quality'], drop_first = True)
df6[:5]

   lotsize  quality_LOW  quality_MEDIUM
0    22221            0               1
1    22912            0               1
2    21345            0               1
3    17342            0               1
4    21786            0               1

In [59]:
x6 = df6.to_numpy()
x6 = sm.add_constant(x6)
m6 = sm.OLS(Y,x6).fit()
m6.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.679
Model:                            OLS   Adj. R-squared:                  0.677
Method:                 Least Squares   F-statistic:                     365.5
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          2.04e-127
Time:                        11:00:46   Log-Likelihood:                -6621.1
No. Observations:                 522   AIC:                         1.325e+04
Df Residuals:                     518   BIC:                         1.327e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.996e+05   1.24e+04     40.377      0.000    4.75e+05    5.24e+05
x1             1.6421      0.296      5.551      0.000       1.061       2.223
x2         -3.617e+05   1.14e+04    -31.818      0.000   -3.84e+05   -3.39e+05
x3         -2.666e+05   1.06e+04    -25.210      0.000   -2.87e+05   -2.46e+05
==============================================================================
Omnibus:                      114.013   Durbin-Watson:                   0.924
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              285.522
Skew:                           1.097   Prob(JB):                     9.99e-63
Kurtosis:                       5.883   Cond. No.                     1.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [60]:
m6.params

const    499607.815886
x1            1.642053
x2      -361721.638336
x3      -266554.185858
dtype: float64

In [61]:
# fitted equation:
# yhat = 499607.82 + 1.64 lotsize - 361721.64 quality_LOW - 266554.19 quality_MEDIUM

# Question7

In [62]:
list_value_7 = [1,40000, 0, 1]
list7 = ['lotsize', 'quality_LOW', 'quality_MEDIUM']
list7.insert(0, 'constant')
x7 = pd.DataFrame([list_value_7], columns = list7)
d7 = m6.get_prediction(x7)
d7.summary_frame(alpha = 0.05)
# The price is 298735.732619 for the prediction.

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,298735.732619,6434.186782,286095.423979,311376.04126,144292.907077,453178.558161

# Question8

In [63]:
list_8 = ['area', 'beds', 'baths', 'garage', 'age', 'style', 'lotsize', 'ac', 'pool', 'quality', 'highway']

In [64]:
df8_1 = df1[list_8]
df8_1 = pd.get_dummies(df8_1, columns = ['ac', 'pool', 'quality', 'highway','style'], drop_first = True)
df8_2 = df8_1.loc[df8_1.beds.isin([2,3,4])]
df8 = df8_2.to_numpy()
df8 = sm.add_constant(df8)
len(df8_2)

445

In [65]:
list_9 = ['price','area', 'beds', 'baths', 'garage', 'age', 'style', 'lotsize', 'ac', 'pool', 'quality', 'highway']
df8_8 = df1[list_9]
df8_8 = pd.get_dummies(df8_8, columns = ['ac', 'pool', 'quality', 'highway','style'], drop_first = True)
new_8 = df8_8.loc[df8_8.beds.isin([2,3,4])]
Y1 = new_8['price']
new_8[:5]

,price,area,beds,baths,garage,age,lotsize,ac_YES,pool_YES,quality_LOW,...,highway_YES,style_2,style_3,style_4,style_5,style_6,style_7,style_9,style_10,style_11
0,360000,3032,4,4,2,29,22221,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,340000,2058,4,2,2,25,22912,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,250000,1780,4,3,2,21,21345,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,205500,1638,4,2,2,38,17342,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,275500,2196,4,3,2,33,21786,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [66]:
m8 = sm.OLS(Y1, df8).fit()
m8.summary()

C:\Users\siyum\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1755: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
C:\Users\siyum\Anaconda3\lib\site-packages\statsmodels\base\model.py:1294: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
C:\Users\siyum\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\siyum\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\siyum\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1831: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.852
Model:                            OLS   Adj. R-squared:                  0.845
Method:                 Least Squares   F-statistic:                     135.9
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          1.08e-163
Time:                        11:00:55   Log-Likelihood:                -5451.8
No. Observations:                 445   AIC:                         1.094e+04
Df Residuals:                     426   BIC:                         1.102e+04
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.296e+05   2.67e+04      4.848      0.000    7.71e+04    1.82e+05
x1           117.2176      7.739     15.146      0.000     102.006     132.429
x2         -2222.9820   4148.594     -0.536      0.592   -1.04e+04    5931.279
x3          9246.5631   4285.513      2.158      0.032     823.180    1.77e+04
x4          7423.7368   4914.563      1.511      0.132   -2236.074    1.71e+04
x5         -1300.6190    199.782     -6.510      0.000   -1693.300    -907.938
x6             1.3283      0.238      5.584      0.000       0.861       1.796
x7         -1075.0761   7501.411     -0.143      0.886   -1.58e+04    1.37e+04
x8          2.163e+04   1.06e+04      2.042      0.042     813.263    4.25e+04
x9         -1.368e+05   1.45e+04     -9.433      0.000   -1.65e+05   -1.08e+05
x10        -1.363e+05   1.08e+04    -12.640      0.000   -1.58e+05   -1.15e+05
x11         -3.18e+04   1.69e+04     -1.884      0.060    -6.5e+04    1380.295
x12        -2.006e+04   8638.441     -2.322      0.021    -3.7e+04   -3080.425
x13        -1.151e+04   8251.632     -1.395      0.164   -2.77e+04    4707.107
x14          2.31e+04   1.72e+04      1.346      0.179   -1.06e+04    5.68e+04
x15        -7407.6304   1.55e+04     -0.479      0.632   -3.78e+04     2.3e+04
x16         -3.06e+04   1.51e+04     -2.029      0.043   -6.02e+04    -951.905
x17        -4.664e+04   8514.836     -5.477      0.000   -6.34e+04   -2.99e+04
x18        -9.094e+04   5.26e+04     -1.728      0.085   -1.94e+05    1.25e+04
x19                 0          0        nan        nan           0           0
x20                 0          0        nan        nan           0           0
==============================================================================
Omnibus:                       58.445   Durbin-Watson:                   1.344
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              269.978
Skew:                           0.449   Prob(JB):                     2.37e-59
Kurtosis:                       6.709   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [67]:
m8.params

const    129624.625814
x1          117.217570
x2        -2222.982001
x3         9246.563083
x4         7423.736755
x5        -1300.618978
x6            1.328298
x7        -1075.076122
x8        21631.695378
x9      -136786.651074
x10     -136349.569750
x11      -31800.514325
x12      -20059.697192
x13      -11511.873749
x14       23097.272898
x15       -7407.630425
x16      -30595.698404
x17      -46636.802875
x18      -90937.907311
x19           0.000000
x20           0.000000
dtype: float64

In [68]:
data_8 = {
            'area':[3150], 
            'beds':[2], 
            'baths':[3], 
            'garage':[2],
            'age':[5],
            'lotsize':[26250],
            'ac_YES':[1],
            'pool_YES':[1],
            'quality_LOW':[0],
            'quality_MEDIUM':[0],
            'highway_YES':[0],
            'style_2':[0],
            'style_3':[0],
            'style_4':[0],
            'style_5':[0],
            'style_6':[0],
            'style_7':[0],
            'style_9':[0],
            'style_10':[0],
            'style_11':[0]}

In [69]:
data_8_new = pd.DataFrame(data_8).to_numpy()
data_8_new = sm.add_constant(data_8_new, has_constant = 'add')
prediction_8 = m8.get_prediction(data_8_new)
prediction_8.summary_frame(alpha = 0.05)

#The 95% prediction interval for the price is (479849.693761, 691995.359832)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,585922.526796,15323.494616,555803.458271,616041.595321,479849.693761,691995.359832